#section-map {
  .wrapper-map {
    .map-link {
      display: block;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        @include transition;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
